*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}
.navbar{
    height: 60px;
    background-color: #131A22;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
/**box1**/
.nav-logo{
    height: 50px;
    width: 114px;
    padding-bottom: 5px;
}
.logo{
    background-image: url(images/amazon.png);
    height: 50px;
    width: 100%;
    background-size: cover;
}
.border {
    border: 1px solid transparent;
    margin: 0px 5px 0px 5px;
}
.border:hover{
    border: 1px solid white;
}
/**box2**/
.nav-address{
    padding: 10px 5px 10px 5px;
}
.add-first{
    color: #cccccc;
    font-size: 12px;
    margin-left: 5px;
}
.add-second{
    font-size: 14px;
}
.add-icon{
    display: flex;
    align-items: center;
}
/**box3**/
.nav-search{
    display: flex;
    align-items: center;
    width: 900px;
    height: 40px;
    border-radius: 4px;
    padding: 10px 4px 10px 3px;
}
.search-select{
    color: #232F3E;
    height: 40px;
    background-color: #e6e6e6;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.search-select:hover{
    background-color: #cccccc;
}
.search-bar{
    border: none;
    padding: 0px;
    height: 40px;
    width: 100%;
    font-size: 1rem;
}
.search-icon{
    height: 40px;
    width: 45px;
    background-color: #FEBD69;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}
/**box4**/
.nav-language{
    display: flex;
    width: 45px;
    padding: 15px 0px 5px 7px;
    margin-top: 15px;
    margin-bottom: 15px;
    align-items: center;
}
.flag{
    height: 16.2px;
    width: 21.6px;
}
.lang-text{
    font-size: 14px;
}
.dropdown{
    height: 4px;
    width: 8px;
    margin-bottom: 15px;
}
/**box5**/
.nav-hello-accounts{
    margin: 8px 3px 8px 8px;
    padding: 10px 2px 10px 2px;
}
.Hello{
    font-size: 12px;
}
.Accounts{
    font-size: 14px;
    font-weight: 700;
}
/**box6**/
.nav-orders{
    margin-left: 2px;
    padding: 10px 5px 10px 5px;
}
.returns{
    font-size: 12px;
}
.orders{
    font-size: 14px;
    font-weight: 700;
}
/**box7**/
.nav-cart{
    display: flex;
    color: white;
    padding: 0px 9px 2px 9px;
    margin: 0px 11px 15px 2px;
}
.cart-text{
    margin-top: 32px;
    font-size: 14px;
    font-weight: 700;
}
.cart-logo{
    margin-top: 5px;
    position: relative;
}
.cart-items-number{
    color: #FEBD69;
    font-size: 20px;
    font-weight: 700;
    margin-left: 10px;
    position: relative;
    top: 8px;
}
.cart-logo i{
    font-size: 25px;
}
/**navbar ends**/
/**panel**/
.panel{
    background-color: #37475A;
    height: 39px;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 11px;
}
.panel-border{
    border: 1px solid transparent;
}
.panel-border:hover{
    border: 1px solid white;
    border-radius: 2px;
}
/**panel-all**/
.panel-menu{
    padding: 8px 9px 8px 9px;
    display: flex;
}
.panel-menu div{
    font-size: 14px;
    padding-left: 5px;
    font-weight: 700;
}
.panel-menu i{
    height: 14px;
    width: 17px;
}
/**panel-tabs**/
.panel-tabs{
    display: flex;
}
.panel-options{
    padding: 0px 5px;
}
.a-options{
    text-decoration: none;
    color: white;
    margin: 5px 0px 6px;
    padding: 8px 5px;
    font-size: 14px;
}
/**panel-end**/
/**Hero-section**/
.hero-section{
    background-image: url(images/hero.jpg);
    height: 250px;
    background-size: cover;
}

/**shop-section**/
.shop-section{
    background-color: #f2f2f2;
}
.shop-layer1{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 22px;
}
.shop-layer2{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 22px;
}
.shop-box{
    width: 350px;
    height: 385px;
    padding: 20px 0px 15px;
    background-color: white;
}
.shop-box p{
    font-size: 21px;
    font-weight: bold;
    padding-bottom: 15px;
    margin: 0px 20px 0px 20px;
}
.shop-box img{
    height: 303px;
    width: 87%;
    margin: 0px 20px 0px 20px;
}
.shop-box h6{
    font-size: 13px;
    color: #2162A1;
    padding-top: 20px;
    margin: 0px 20px 0px 20px;
}
.box-2{
    position: relative;
    bottom: 15px;
}
/**shop-section ends**/
/**FOOTER**/
.footer1{
    height: 49px;
    color: white;
    background-color: #37475A;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer1:hover{
    background-color: rgba(55, 71, 90, 0.5);
}
.footer2{
    background-color: #232f3e;
    color: #DDDDDD;
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: space-evenly;
    font-size: 14px;
}
.footer2-content{
    margin: 50px;
}
.footer2-content h4{
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 14px;
}
.footer2-content p{
    margin-bottom: 10px;
}
.footer2-content p:hover{
    text-decoration: underline;
}
.footer3{
    background-color: #232F3E;
    color: #DDDDDD;
    width: 100%;
    height: 100px;
    border-top: 1px solid #37475A;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer3-img{
    height: 40px;
    width: 80px;
    background-image: url(images/amazon2.png);
    background-size: cover;
}
.footer3-tabs{
    display: flex;
    font-size: 13px;
    padding-left: 60px;
}
.footer3-lang{
    height: 34px;
    width: 132px;
    border: #cccccc solid 1px;
    border-radius: 3px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.footer3-dollar{
    height: 34px;
    width: 132px;
    border: #cccccc solid 1px;
    border-radius: 3px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer3-US{
    height: 34px;
    width: 132px;
    border: #cccccc solid 1px;
    border-radius: 3px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.footer4{
    background-color: #131A22;
    height: 60px;
    width: 100%;
    font-size: 12px;
    padding-top: 25px;
}
.footer4-tabs{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer4-a{
    text-decoration: none;
    color: #cccccc;
    padding: 0px 7.2px 0px 7.2px;
}
.copyright{
    color: #cccccc;
    text-align: center;
    padding-top: 7px;
}